In [1]:
import pandas as pd
import statistics as st
import numpy as np
from statistics import prt

df = st.shr_df()

In [2]:
r = st.victim_race_pct(df)
r

In [3]:
r = st.offender_race_pct(df)
r

In [4]:
print(st.breakdown_by_value(df['VicRace_OffRace'], sort_by_value=False).data.to_string())

                                                                     VicRace_OffRace  VicRace_OffRace_pct
White_White                                                                      818             0.454444
White_Unknown                                                                    394             0.218889
Black_Black                                                                      265             0.147222
Black_Unknown                                                                    153             0.085000
White_Black                                                                       89             0.049444
Black_White                                                                       45             0.025000
Asian_Asian                                                                       11             0.006111
White_Asian                                                                        5             0.002778
Asian_Unknown                                                                      5             0.002778
Unknown_Unknown                                                                    4             0.002222
Unknown_White                                                                      3             0.001667
Asian_White                                                                        3             0.001667
White_American Indian or Alaskan Native                                            1             0.000556
Unknown_Black                                                                      1             0.000556
American Indian or Alaskan Native_Black                                            1             0.000556
American Indian or Alaskan Native_American Indian or Alaskan Native                1             0.000556
Black_American Indian or Alaskan Native                                            1             0.000556

In [5]:
print(pd.crosstab([df['OffRace'],df['VicRace']], df['OneOrLess'], normalize='index', margins=True).style.format('{:.2%}').data.to_string())

OneOrLess                                                               False      True
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native  0.000000  1.000000
                                  Black                              0.000000  1.000000
                                  White                              0.000000  1.000000
Asian                             Asian                              0.454545  0.545455
                                  White                              0.600000  0.400000
Black                             American Indian or Alaskan Native  1.000000  0.000000
                                  Black                              0.271698  0.728302
                                  Unknown                            0.000000  1.000000
                                  White                              0.471910  0.528090
Unknown                           Asian                              0.200000  0.800000
                                  Black                              0.189542  0.810458
                                  Unknown                            0.500000  0.500000
                                  White                              0.324873  0.675127
White                             Asian                              0.666667  0.333333
                                  Black                              0.355556  0.644444
                                  Unknown                            0.666667  0.333333
                                  White                              0.371638  0.628362
All                                                                  0.337222  0.662778

In [6]:
pd.crosstab(df['OffRace'],df['OneOrLess'],normalize='index')

OneOrLess                             False      True
OffRace
American Indian or Alaskan Native  0.000000  1.000000
Asian                              0.500000  0.500000
Black                              0.323034  0.676966
Unknown                            0.287770  0.712230
White                              0.372842  0.627158

In [7]:
pd.crosstab(df['OffRace'],df['VicRace'], normalize='columns',margins=True)

VicRace,American Indian or Alaskan Native,Asian,Black,Unknown,White,All
OffRace,,,,,,
American Indian or Alaskan Native,0.5,0.000000,0.002155,0.000,0.000765,0.001667
Asian,0.0,0.578947,0.000000,0.000,0.003826,0.008889
Black,0.5,0.000000,0.571121,0.125,0.068095,0.197778
Unknown,0.0,0.263158,0.329741,0.500,0.301454,0.308889
White,0.0,0.157895,0.096983,0.375,0.625861,0.482778

In [8]:
pd.pivot_table(df, values=['OneOrLess'],index=['OffRace','VicRace'],aggfunc=[np.mean],columns=['CNTYFIPS'],margins=True)

                                                                              mean  \
                                                                         OneOrLess
CNTYFIPS                                                            Barnstable, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native            NaN
                                  Black                                        NaN
                                  White                                        NaN
Asian                             Asian                                        NaN
                                  White                                        NaN
Black                             American Indian or Alaskan Native            NaN
                                  Black                                   1.000000
                                  Unknown                                      NaN
                                  White                                   1.000000
Unknown                           Asian                                        NaN
                                  Black                                        NaN
                                  Unknown                                      NaN
                                  White                                   1.000000
White                             Asian                                        NaN
                                  Black                                   1.000000
                                  Unknown                                      NaN
                                  White                                   0.736842
All                                                                       0.821429

                                                                                   \

CNTYFIPS                                                            Berkshire, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native           NaN
                                  Black                                       NaN
                                  White                                       NaN
Asian                             Asian                                       NaN
                                  White                                       NaN
Black                             American Indian or Alaskan Native           NaN
                                  Black                                    1.0000
                                  Unknown                                     NaN
                                  White                                    1.0000
Unknown                           Asian                                       NaN
                                  Black                                       NaN
                                  Unknown                                     NaN
                                  White                                    0.8000
White                             Asian                                       NaN
                                  Black                                       NaN
                                  Unknown                                     NaN
                                  White                                    1.0000
All                                                                        0.9375

                                                                                 \

CNTYFIPS                                                            Bristol, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native         NaN
                                  Black                                     NaN
                                  White                                     NaN
Asian                             Asian                                1.000000
                                  White                                1.000000
Black                             American Indian or Alaskan Native         NaN
                                  Black                                0.500000
                                  Unknown                                   NaN
                                  White                                0.800000
Unknown                           Asian                                     NaN
                                  Black                                1.000000
                                  Unknown                                   NaN
                                  White                                0.818182
White                             Asian                                1.000000
                                  Black                                     NaN
                                  Unknown                              0.000000
                                  White                                0.825397
All                                                                    0.816092

                                                                               \

CNTYFIPS                                                            Dukes, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native       NaN
                                  Black                                   NaN
                                  White                                   NaN
Asian                             Asian                                   NaN
                                  White                                   NaN
Black                             American Indian or Alaskan Native       NaN
                                  Black                                   NaN
                                  Unknown                                 NaN
                                  White                                   NaN
Unknown                           Asian                                   NaN
                                  Black                                   NaN
                                  Unknown                                 NaN
                                  White                                   NaN
White                             Asian                                   NaN
                                  Black                                   NaN
                                  Unknown                                 NaN
                                  White                                   0.0
All                                                                       0.0

                                                                               \

CNTYFIPS                                                            Essex, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native       NaN
                                  Black                                   NaN
                                  White                                   NaN
Asian                             Asian                              0.333333
                                  White                              0.000000
Black                             American Indian or Alaskan Native       NaN
                                  Black                              1.000000
                                  Unknown                                 NaN
                                  White                              1.000000
Unknown                           Asian                                   NaN
                                  Black                              1.000000
                                  Unknown                                 NaN
                                  White                              0.843750
White                             Asian                                   NaN
                                  Black                              1.000000
                                  Unknown                            1.000000
                                  White                              0.604938
All                                                                  0.680000

                                                                                  \

CNTYFIPS                                                            Franklin, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native          NaN
                                  Black                                      NaN
                                  White                                      NaN
Asian                             Asian                                      NaN
                                  White                                      NaN
Black                             American Indian or Alaskan Native          NaN
                                  Black                                      NaN
                                  Unknown                                    NaN
                                  White                                      NaN
Unknown                           Asian                                      NaN
                                  Black                                      NaN
                                  Unknown                                    NaN
                                  White                                      NaN
White                             Asian                                      NaN
                                  Black                                      NaN
                                  Unknown                                    NaN
                                  White                                     0.75
All                                                                         0.75

                                                                                 \

CNTYFIPS                                                            Hampden, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native         NaN
                                  Black                                     NaN
                                  White                                1.000000
Asian                             Asian                                     NaN
                                  White                                     NaN
Black                             American Indian or Alaskan Native         NaN
                                  Black                                0.941176
                                  Unknown                                   NaN
                                  White                                0.909091
Unknown                           Asian                                     NaN
                                  Black                                1.000000
                                  Unknown                              1.000000
                                  White                                0.857143
White                             Asian                                     NaN
                                  Black                                1.000000
                                  Unknown                              0.000000
                                  White                                0.850575
All                                                                    0.876623

                                                                                   \

CNTYFIPS                                                            Hampshire, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native           NaN
                                  Black                                       NaN
                                  White                                       NaN
Asian                             Asian                                       NaN
                                  White                                       NaN
Black                             American Indian or Alaskan Native           NaN
                                  Black                                       NaN
                                  Unknown                                     NaN
                                  White                                       NaN
Unknown                           Asian                                       NaN
                                  Black                                       NaN
                                  Unknown                                     NaN
                                  White                                  0.250000
White                             Asian                                       NaN
                                  Black                                       NaN
                                  Unknown                                     NaN
                                  White                                  1.000000
All                                                                      0.823529

                                                                                   \

CNTYFIPS                                                            Middlesex, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native           NaN
                                  Black                                       NaN
                                  White                                       NaN
Asian                             Asian                                       NaN
                                  White                                       NaN
Black                             American Indian or Alaskan Native           NaN
                                  Black                                  0.500000
                                  Unknown                                     NaN
                                  White                                  0.375000
Unknown                           Asian                                       NaN
                                  Black                                  0.500000
                                  Unknown                                0.000000
                                  White                                  0.528302
White                             Asian                                       NaN
                                  Black                                  0.000000
                                  Unknown                                     NaN
                                  White                                  0.383459
All                                                                      0.422330

                                                                                   \

CNTYFIPS                                                            Nantucket, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native           NaN
                                  Black                                       NaN
                                  White                                       NaN
Asian                             Asian                                       NaN
                                  White                                       NaN
Black                             American Indian or Alaskan Native           NaN
                                  Black                                       NaN
                                  Unknown                                     NaN
                                  White                                       NaN
Unknown                           Asian                                       NaN
                                  Black                                       NaN
                                  Unknown                                     NaN
                                  White                                       NaN
White                             Asian                                       NaN
                                  Black                                       0.0
                                  Unknown                                     NaN
                                  White                                       NaN
All                                                                           0.0

                                                                                 \

CNTYFIPS                                                            Norfolk, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native         NaN
                                  Black                                     NaN
                                  White                                     NaN
Asian                             Asian                                     NaN
                                  White                                0.000000
Black                             American Indian or Alaskan Native         NaN
                                  Black                                0.000000
                                  Unknown                                   NaN
                                  White                                0.000000
Unknown                           Asian                                     NaN
                                  Black                                1.000000
                                  Unknown                              0.000000
                                  White                                0.380952
White                             Asian                                     NaN
                                  Black                                0.500000
                                  Unknown                                   NaN
                                  White                                0.395833
All                                                                    0.369048

                                                                                  \

CNTYFIPS                                                            Plymouth, MA
OffRace                           VicRace
American Indian or Alaskan Native American Indian or Alaskan Native          NaN
                                  Black                                      NaN
                                  White                                      NaN
Asian                             Asian                                      NaN
                                  White                                 1.000000
Black                             American Indian or Alaskan Native          NaN
                                  Black                                 0.500000
                                  Unknown                                    NaN
                                  White                                 0.000000
Unknown                           Asian                                      NaN
                                  Black                                      NaN
                                  Unknown                               1.000000
                                  White                                 0.722222
White                             Asian                                      NaN
                                  Black                                 0.500000
                                  Unknown                                    NaN
                                  White                                 0.535714

In [9]:
df.columns

Index(['ID', 'CNTYFIPS', 'Ori', 'State', 'Agency', 'Agentype', 'Source',
       'Solved', 'Year', 'StateName', 'Month', 'Incident', 'ActionType',
       'Homicide', 'Situation', 'VicAge', 'VicSex', 'VicRace', 'VicEthnic',
       'OffAge', 'OffSex', 'OffRace', 'OffEthnic', 'Weapon', 'Relationship',
       'Circumstance', 'Subcircum', 'VicCount', 'OffCount', 'FileDate', 'MSA',
       'YearMonth', 'Victim', 'AssignCount', 'VicRace_OffRace', 'OneOrLess'],
      dtype='object')

In [10]:
df.CNTYFIPS.value_counts()

Suffolk, MA       872
Middlesex, MA     206
Hampden, MA       154
Worcester, MA     149
Essex, MA         125
Bristol, MA        87
Norfolk, MA        84
Plymouth, MA       56
Barnstable, MA     28
Hampshire, MA      17
Berkshire, MA      16
Franklin, MA        4
Dukes, MA           1
Nantucket, MA       1
Name: CNTYFIPS, dtype: int64

In [11]:
print(st.breakdown_by_value(df['AssignCount']).data.to_string())

    AssignCount  AssignCount_pct
0           729         0.405000
1           464         0.257778
2           234         0.130000
3           107         0.059444
4            58         0.032222
5            34         0.018889
6            29         0.016111
7            29         0.016111
8            33         0.018333
9            16         0.008889
10           11         0.006111
11            7         0.003889
12            3         0.001667
13            2         0.001111
14            2         0.001111
15            2         0.001111
16            2         0.001111
17            1         0.000556
18            2         0.001111
19            2         0.001111
20            1         0.000556
21            2         0.001111
23            1         0.000556
25            2         0.001111
26            1         0.000556
28            2         0.001111
29            2         0.001111
31            1         0.000556
33            1         0.000556
34            1         0.000556
35            1         0.000556
37            2         0.001111
39            1         0.000556
40            1         0.000556
42            1         0.000556
46            1         0.000556
48            1         0.000556
49            1         0.000556
52            1         0.000556
55            1         0.000556
60            2         0.001111
92            3         0.001667
93            1         0.000556
94            1         0.000556
98            1         0.000556

In [12]:
r = pd.crosstab(df['AssignCount'],df['VicRace'], normalize = 'columns', margins = True).style.format("{:.2%}")
r

In [13]:
pivot = df.pivot_table(index=('VicRace','OffRace'),aggfunc=len,values='Victim')
pivot = pivot[pivot['Victim']>18]
pivot.reset_index()[['VicRace','OffRace']]

  VicRace  OffRace
0   Black    Black
1   Black  Unknown
2   Black    White
3   White    Black
4   White  Unknown
5   White    White

In [19]:
df_filter = st.remove_infrequent(df)
df_filter

  VicRace  OffRace
0   Black    Black
1   Black  Unknown
2   Black    White
3   White    Black
4   White  Unknown
5   White    White

In [21]:
df2 = df.merge(df_filter, on = ['VicRace','OffRace'])

In [16]:
print(st.breakdown_by_value(df2['VicRace_OffRace'], sort_by_value=False).data.to_string())

               VicRace_OffRace  VicRace_OffRace_pct
White_White                818             0.463719
White_Unknown              394             0.223356
Black_Black                265             0.150227
Black_Unknown              153             0.086735
White_Black                 89             0.050454
Black_White                 45             0.025510

In [24]:
print(pd.crosstab([df2['OffRace'],df2['VicRace']], df2['OneOrLess'], normalize='index',margins=True).style.format('{:.2%}').data.to_string())

OneOrLess           False      True
OffRace VicRace
Black   Black    0.271698  0.728302
        White    0.471910  0.528090
Unknown Black    0.189542  0.810458
        White    0.324873  0.675127
White   Black    0.355556  0.644444
        White    0.371638  0.628362
All              0.335034  0.664966

In [26]:
df3 = st.remove_infrequent(df, filter_cols=('VicRace','OffRace','VicSex','OffSex'))

In [35]:
print(pd.crosstab([df3['OffRace'],df3['VicRace'],df3['OffSex'],df3['VicSex']], df3['OneOrLess'], normalize='index',margins=True).style.format('{:.2%}').data.to_string())

OneOrLess                          False      True
OffRace VicRace OffSex  VicSex
Black   Black   Female  Male    0.250000  0.750000
                Male    Male    0.246988  0.753012
                        Female  0.326531  0.673469
        White   Male    Male    0.516667  0.483333
                        Female  0.416667  0.583333
Unknown Black   Unknown Male    0.147541  0.852459
                        Female  0.366667  0.633333
        White   Unknown Male    0.283784  0.716216
                        Female  0.468085  0.531915
White   Black   Male    Male    0.388889  0.611111
        White   Female  Male    0.224490  0.775510
                        Female  0.400000  0.600000
                Male    Male    0.372361  0.627639
                        Female  0.400901  0.599099
All                             0.336217  0.663783

In [37]:
print(pd.crosstab([df3['OffRace'],df3['VicRace'],df3['OffSex'],df3['VicSex']], df3['Source'], margins=True).drop(columns=['FBI']).style.format('{:.2%}').data.to_string())

Source                           All
OffRace VicRace OffSex  VicSex
Black   Black   Female  Male      40
                Male    Male     166
                        Female    49
        White   Male    Male      60
                        Female    24
Unknown Black   Unknown Male     122
                        Female    30
        White   Unknown Male     296
                        Female    94
White   Black   Male    Male      36
        White   Female  Male      49
                        Female    25
                Male    Male     521
                        Female   222
All                             1734

In [30]:
df3

,ID,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,Year,StateName,...,Subcircum,VicCount,OffCount,FileDate,MSA,YearMonth,Victim,AssignCount,VicRace_OffRace,OneOrLess
0,197601001MA00115,"Barnstable, MA",MA00115,Massachusetts,Yarmouth,Municipal police,FBI,Yes,1976,NaN,...,NaN,0,1,30180.0,"Barnstable Town, MA",1976-01,Vincent Wines,1,White_White,True
1,197606001MA00101,"Barnstable, MA",MA00101,Massachusetts,Barnstable,Municipal police,FBI,Yes,1976,NaN,...,NaN,0,0,30180.0,"Barnstable Town, MA",1976-06,<NA>,0,White_White,True
2,197707001MA00107,"Barnstable, MA",MA00107,Massachusetts,Falmouth,Municipal police,FBI,Yes,1977,NaN,...,NaN,0,0,30180.0,"Barnstable Town, MA",1977-07,Richard Carney,3,White_White,False
3,197805001MA00101,"Barnstable, MA",MA00101,Massachusetts,Barnstable,Municipal police,FBI,Yes,1978,NaN,...,NaN,1,0,30180.0,"Barnstable Town, MA",1978-05,<NA>,0,White_White,True
4,197806001MA00105,"Barnstable, MA",MA00105,Massachusetts,Dennis,Municipal police,FBI,Yes,1978,NaN,...,NaN,0,0,30180.0,"Barnstable Town, MA",1978-06,Albert Mullen,2,White_White,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729,198307001MA01301,"Suffolk, MA",MA01301,Massachusetts,Boston,Municipal police,FBI,No,1983,NaN,...,NaN,0,0,101283.0,"Boston-Cambridge-Quincy, MA-NH",1983-07,<NA>,0,Black_Unknown,True
1730,198309014MA01301,"Suffolk, MA",MA01301,Massachusetts,Boston,Municipal police,FBI,No,1983,NaN,...,NaN,0,0,10484.0,"Boston-Cambridge-Quincy, MA-NH",1983-09,Marie Lourdes Turenne,1,Black_Unknown,True
1731,198403008MA01301,"Suffolk, MA",MA01301,Massachusetts,Boston,Municipal police,FBI,No,1984,NaN,...,NaN,0,0,60884.0,"Boston-Cambridge-Quincy, MA-NH",1984-03,Pearle Colbert,1,Black_Unknown,True
1732,198405001MA01301,"Suffolk, MA",MA01301,Massachusetts,Boston,Municipal police,FBI,No,1984,NaN,...,NaN,0,0,102584.0,"Boston-Cambridge-Quincy, MA-NH",1984-05,Bernette McLaurin,1,Black_Unknown,True
1733,197901002MA01460,"Worcester, MA",MA01460,Massachusetts,Worcester,Municipal police,FBI,No,1979,NaN,...,NaN,0,0,30180.0,"Worcester, MA",1979-01,<NA>,0,Black_Unknown,True

In [38]:
len(df)

1800

In [39]:
df.to_csv('homicide_data.csv')